<ion-header>
    <ion-toolbar>
        <ion-title>Effectue</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <div class="list_header ion-text-center animate__animated animate__fadeInUp">
            <ion-icon class="zmdi zmdi-check-all animate__animated animate__zoomIn"></ion-icon>
            <h1>Operation reussie !!</h1>
        </div>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3>Du numero </h3>
                <h2>{{insertion.fromnumber}}</h2>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3>Vers numero </h3>
                <h2>{{insertion.tonumber}}</h2>
            </div>
        </ion-item>
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <h3>Type</h3>
                <h2>{{insertion.type == 'sending' ? 'Transfert envoye' : 'Transfert recu'}}</h2>
            </div>
        </ion-item>
        <p class="animate__animated animate__fadeInUp">Date {{insertion.datecreated}}</p>
    </ion-list>
</ion-content>


<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <ion-row>
        <ion-col size="6">
            <ion-button size="large" shape="block" class="btn send_more" (click)="tabs()">Ok</ion-button>
        </ion-col>
    </ion-row>
</ion-footer>