<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>Transferts Aujourd'hui | {{distributor.number}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<ion-item class="animate__animated animate__fadeInUp" (click)="pending()">
			<div class="icon_box" slot="start">
				<ion-icon name="refresh-circle-outline"></ion-icon>
			</div>
			<div class="text_box">
				<h2>Transferts en attente</h2>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="sent()">
			<div class="icon_box" slot="start">
				<ion-icon name="cloud-upload-outline"></ion-icon>
			</div>
			<div class="text_box">
				<h2>Transferts Envoyes </h2>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="received()">
			<div class="icon_box" slot="start">
				<ion-icon name="cloud-download-outline"></ion-icon>
			</div>
			<div class="text_box">
				<h2>Transfert recus</h2>
			</div>
		</ion-item>
		
	</ion-list>
</ion-content>
