<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>Parametres Généraux</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content fullscreen class="bg_color">
	<form [formGroup]="generalForm" (ngSubmit)="save()" class="form">
		<ion-list lines="none">
			<ion-item class="animate__animated animate__fadeInUp" lines="none">
				<ion-input type="text" formControlName="shortcode" placeholder="Code de transfert USSD"></ion-input>
			</ion-item>
		</ion-list>
	</form>
	<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
		<ion-button size="small" shape="block" class="btn" (click)="save()">Sauvegarder</ion-button>
	</ion-footer>
</ion-content>
