<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'statement' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list lines="none">
		<h2>{{'recent_transactios' | translate}}</h2>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>


		<h2>{{'yesterday_transactios' | translate}}</h2>


		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="list_of_deposites()">
			<div class="item_inner">
				<h3>EMI Debited</h3>
				<h4 class="d-flex">12 June, 2019 <span class="end">$ 1000.00</span></h4>
			</div>
		</ion-item>

	</ion-list>
</ion-content>