<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<h2>
				Reception du numero {{ agent.number}}
				<small>Envoyer du virtuel</small>
			</h2>
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form class="form" [formGroup]="depositForm" (ngSubmit)="send()">
		<ion-list lines="none">
			<ion-item class="animate__animated animate__fadeInUp" lines="none">
				<ion-select mode="md" formControlName="distributor_number" interface="action-sheet">
						<ion-select-option disabled value="">Numero distributeur</ion-select-option>
					<ion-select-option *ngFor="let distributor of distributors" value="{{distributor.number}}">
           {{distributor.number}} | Solde : {{distributor.balance}}XOF
          	</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item class="animate__animated animate__fadeInUp" lines="none">
				<ion-textarea rows="5" formControlName="sms" placeholder="Coller le sms de transfert que vous avez recu ici"></ion-textarea>
			</ion-item>
		</ion-list>
	</form>
	<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
		<ion-button size="small" (click)="send()" shape="block" class="btn" >Envoyer</ion-button>
	  </ion-footer>
</ion-content>
