<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen class="bg_color">
    <div class="bg"></div>
    <div class="profile_img_box animate__animated animate__zoomIn">
        <div class="profile_img center_img">
            <img src="{{profile.picture}}" class="crop_img">
        </div>
        <ion-icon class="zmdi zmdi-camera"></ion-icon>
    </div>
    <form class="form" [formGroup]="profileForm">
        <ion-list lines="none">
            <ion-item class="animate__animated animate__fadeInUp" lines="none">
                <ion-label position="floating">Nom Complet</ion-label>
                <ion-input type="text" formControlName="name" ></ion-input>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp" lines="none">
                <ion-label position="floating">Numero de telephone</ion-label>
                <ion-input type="text"  formControlName="phone"></ion-input>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp" lines="none">
                <ion-label position="floating">Numero de connexion</ion-label>
                <ion-input type="text" formControlName="login" ></ion-input>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp" lines="none">
                <ion-label position="floating">Mot de passe</ion-label>
                <ion-input type="text" formControlName="password"  ></ion-input>
            </ion-item>
        </ion-list>
    </form>
   
    <ion-footer class="ion-no-border animate__animated animate__fadeInUp">
        <ion-button size="large" shape="full" (click)="save()" class="btn">Sauvegarder</ion-button>
    </ion-footer>
</ion-content>
