<ion-header>
    <ion-toolbar>
        <ion-title>
           
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="bg_color">
    <div class="banner">
        <h2 class="ion-text-center animate__animated animate__zoomIn">
                 
            <span>OM MANAGER</span> <br>
        </h2>
    </div>
    <div class="form">
        <ion-list lines="none">
            <ion-item class="animate__animated animate__fadeInUp" lines="none">
                <ion-input type="email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp" lines="none">
                <ion-input type="text" placeholder="Mot de passe"></ion-input>
            </ion-item>
            <ion-button size="large" shape="block animate__animated animate__fadeInUp" class="btn" (click)="tabs()">Connexion</ion-button>
        </ion-list>
    </div>
</ion-content>
