<ion-header>
    <ion-toolbar>
        <ion-title>
           
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div style="background-color: #fff;" class="banner">
       <div style="width: 100%;height:200px;padding:0 20px 0 20px">
           <img style="width: 100%;height:100%" src="assets/imgs/logo.png">
       </div>
    </div>
    <form [formGroup]="loginForm" class="form">
        <ion-list lines="none">
            <ion-item class="animate__animated animate__fadeInUp">
                <ion-input formControlName="login"  type="text" placeholder="Nom d'utilisateur ou Numero"></ion-input>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <ion-input autofocus="true" formControlName="password" type="text" placeholder="Mot de passe"></ion-input>
            </ion-item>
            <ion-button size="large" shape="block animate__animated animate__fadeInUp" class="btn" (click)="tabs()">Connexion</ion-button>
        </ion-list>
    </form>
</ion-content>
