<ion-header>
    <ion-toolbar>
        <ion-title><span>OM Manager</span></ion-title>
    </ion-toolbar>
    <div class="banner">
        <div class="scroll_container">
            <div class="item_scroll animate__animated animate__zoomIn"  *ngFor="let distributor of distributors" (click)="dist(distributor)">
                <h3 class="animate__animated animate__fadeInUp">{{ distributor.ismother ? 'Distributeur Mere'  : 'Distributeur'}}</h3>
                <h2 class="animate__animated animate__fadeInUp">{{distributor.number}}</h2>
                <h5 class="animate__animated animate__fadeInUp">  {{distributor.balance}} XOF</h5>
            </div>
        </div>
    </div>
</ion-header>
<ion-content>
    <div class="home_menu">
        <ion-row>
            <ion-col class="animate__animated animate__fadeInUp" size="4" (click)="zones()">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <ion-icon name="earth-outline"></ion-icon>
                    </div>
                    <p>Zones</p>
                </div>
            </ion-col>
            <ion-col class="animate__animated animate__fadeInUp" size="4" (click)="localites()">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <ion-icon name="location-outline"></ion-icon>
                    </div>
                    <p>Localités</p>
                </div>
            </ion-col>
            <ion-col class="animate__animated animate__fadeInUp" size="4" (click)="contacts()">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <ion-icon name="people-outline"></ion-icon>
                    </div>
                    <p>Contacts</p>
                </div>
            </ion-col>
            <ion-col class="animate__animated animate__fadeInUp" size="4" (click)="deposits()">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <ion-icon name="cloud-upload-outline"></ion-icon>
                    </div>
                    <p>Transferts envoyés</p>
                </div>
            </ion-col>
            <ion-col class="animate__animated animate__fadeInUp" size="4" (click)="withdrawals()">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <ion-icon name="cloud-download-outline"></ion-icon>
                    </div>
                    <p>Transferts <br> Réçus</p>
                </div>
            </ion-col>
            <ion-col class="animate__animated animate__fadeInUp" size="4" (click)="stats()">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <ion-icon name="radio-outline"></ion-icon>
                    </div>
                    <p>Numeros <br> Agents</p>
                </div>
            </ion-col>
            <ion-col class="animate__animated animate__fadeInUp" size="4" (click)="account()">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <ion-icon name="person-outline"></ion-icon>
                    </div>
                    <p>Compte</p>
                </div>
            </ion-col>
            <ion-col class="animate__animated animate__fadeInUp" size="4" (click)="settings()">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <ion-icon name="cog-outline"></ion-icon>
                    </div>
                    <p>Paramètres</p>
                </div>
            </ion-col>
            <ion-col class="animate__animated animate__fadeInUp" size="4">
                <div class="menu_item ion-text-center">
                    <div class="icon_box">
                        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                    </div>
                    <p>Autres</p>
                </div>
            </ion-col>
        </ion-row>
    </div>
    <ion-list lines="none">
    </ion-list>
</ion-content>