<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>Compte</ion-title>
    </ion-toolbar>
    <div class="banner d-flex" (click)="profile()">
        <div class="img_box center_img">
            <img src="{{userprofile.picture}}" class="crop_img">
        </div>
        <div class="text">
            <h2 class="animate__animated animate__fadeInUp">{{ userprofile.name}}</h2>
            <h3 class="animate__animated animate__fadeInUp">Voir le profile</h3>
        </div>
    </div>

    <div *ngIf="config.demoMode" (click)="buyappalert()" class="buy_this_app">
        <h2>
            <!-- <ion-icon class="zmdi zmdi-shopping-cart"></ion-icon> -->
            {{"buy_this_app" | translate}}
        </h2>
    </div>
</ion-header>
<ion-content>
    <ion-list lines="none">
        <ion-item class="animate__animated animate__fadeInUp" (click)="change_language()">
            <div class="item_inner">
                <h2 class="animate__animated animate__fadeInUp">Changer la langue</h2>
                <p class="animate__animated animate__fadeInUp">Selectionner votre langue</p>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="terms_conditions()">
            <div class="item_inner">
                <h2 class="animate__animated animate__fadeInUp">Termes et Conditions</h2>
                <p class="animate__animated animate__fadeInUp">Conditions generales d'utilisation de l'application</p>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="faqs()">
            <div class="item_inner">
                <h2 class="animate__animated animate__fadeInUp">FAQs</h2>
                <p class="animate__animated animate__fadeInUp">Questions frequenment posees</p>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="support()">
            <div class="item_inner">
                <h2 class="animate__animated animate__fadeInUp">Aide et Support</h2>
                <p class="animate__animated animate__fadeInUp">Disponible 24/7j</p>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="sing_in()">
            <div class="item_inner">
                <h2 class="animate__animated animate__fadeInUp">Deconnexion</h2>
            </div>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border animate__animated animate__fadeInUp" *ngIf="config.demoMode">
    <div class="developed_by d-flex" (click)="developed_by()">
        <h2>{{"developed_by" | translate}}</h2>
        <div class="img_box ion-text-end end">
            <img src="assets/imgs/opus.png" class="light-theme-logo">
        </div>
    </div>
</ion-footer>