<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{contact.name}}</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content fullscreen class="bg_color">
  <ion-list lines="none">
		<ion-item class="animate__animated animate__fadeInUp deposited">
			<div class="item_inner">
				<ion-row>
					<ion-col size="6">
						<h3 class="animate__animated animate__fadeInUp">{{'name' | translate}}</h3>
						<h4>{{contact.name}}</h4>
					</ion-col>
					<ion-col size="6">
						<h3 class="animate__animated animate__fadeInUp">{{'phone' | translate}}</h3>
						<h4> <a href="tel:{{contact.phone}}">{{contact.phone}}</a></h4>
					</ion-col>
				</ion-row>
        <ion-row>
					<ion-col size="6">
						<h3 class="animate__animated animate__fadeInUp">{{'email' | translate}}</h3>
						<h4>{{contact.email}}</h4>
					</ion-col>
					<ion-col size="6">
						<h3 class="animate__animated animate__fadeInUp">{{'localite' | translate}}</h3>
						<h4>{{contact.localitename}}<sub></sub></h4>
					</ion-col>
				</ion-row>
        <ion-row>
					<ion-col size="6">
						<h3 class="animate__animated animate__fadeInUp">{{'whatsapp' | translate}}</h3>
						<h4><a href="tel:{{contact.phonewhatsapp}}">{{contact.phonewhatsapp}}</a></h4>
					</ion-col>
					<ion-col size="6">
						<h3 class="animate__animated animate__fadeInUp">{{'phonemoov' | translate}}</h3>
						<h4><a href="tel:{{contact.phonemoovexpress}}">{{contact.phonemoovexpress}}</a></h4>

					</ion-col>
				</ion-row>
        <ion-row>
					<ion-col size="6">
						<h3 class="animate__animated animate__fadeInUp">{{'phoneflash' | translate}}</h3>
						<h4><a href="tel:{{contact.phoneflash}}">{{contact.phoneflash}}</a></h4>

					</ion-col>
					<ion-col size="6">
						<h3 class="animate__animated animate__fadeInUp">{{'phonesapsap' | translate}}</h3>
						<h4><a href="tel:{{contact.phonesapsap}}">{{contact.phonesapsap}}</a></h4>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
	</ion-list>
	<ion-list lines="none">
		<h2>{{'numbers' | translate}}</h2>
		<ion-item class="animate__animated animate__fadeInUp deposited">
			<div class="item_inner">
				<ion-row *ngFor="let number of numbers">
					<ion-col size="6">
						<h3 class="animate__animated animate__fadeInUp">{{'number' | translate}}</h3>
						<h4>{{number.number}}</h4>
					</ion-col>
					<ion-col size="6">
						<h3 class="animate__animated animate__fadeInUp">{{'agentcode' | translate}}</h3>
						<h4>{{number.agentcode}}<sub></sub></h4>
					</ion-col>
				</ion-row>
		    <h2>{{'actions' | translate}}</h2>

        <ion-row *ngFor="let number of numbers">
					<ion-col size="6">
            <ion-button size="small" shape="block animate__animated animate__fadeInUp" class="btn" (click)="deposit(number)">Envoyer</ion-button>
					</ion-col>
					<ion-col size="6">
            <ion-button size="small" shape="block animate__animated animate__fadeInUp" class="btn" (click)="withdraw(number)">Recevoir</ion-button>
					</ion-col>
				</ion-row>
			</div>
      
		</ion-item>
	</ion-list>
</ion-content>
