ion-header {
    ion-toolbar ion-title {
        padding: 0 15px !important;
        position: absolute !important;
        top: -3px;
        left: 0;
        width: 100%;
        text-align: center;
    }
}
