<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>Parametres</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<ion-item class="animate__animated animate__fadeInUp" (click)="general()">
			<div class="icon_box" slot="start">
				<ion-icon name="options-outline"></ion-icon>
			</div>
			<div class="text_box">
				<h2>Préférences</h2>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="language()">
			<div class="icon_box" slot="start">
				<ion-icon name="language-outline"></ion-icon>
			</div>
			<div class="text_box">
				<h2>Langues</h2>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="server()">
			<div class="icon_box" slot="start">
				<ion-icon name="server-outline"></ion-icon>
			</div>
			<div class="text_box">
				<h2>Connectivité</h2>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="user()">
			<div class="icon_box" slot="start">
				<ion-icon name="person-outline"></ion-icon>
			</div>
			<div class="text_box">
				<h2>Utilisateur</h2>
			</div>
		</ion-item>	
	</ion-list>
</ion-content>
