<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'settings' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<ion-item class="animate__animated animate__fadeInUp" (click)="general()">
			<div class="icon_box" slot="start">
				<ion-icon name="options-outline"></ion-icon>
			</div>
			<div class="text_box">
				<h2>{{'general_settings' | translate}}</h2>
				<h3>{{'preferences' | translate}}</h3>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="language()">
			<div class="icon_box" slot="start">
				<ion-icon name="language-outline"></ion-icon>
			</div>
			<div class="text_box">
				<h2>{{'language' | translate}}</h2>
				<h3>{{'change_language' | translate}}</h3>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="server()">
			<div class="icon_box" slot="start">
				<ion-icon name="server-outline"></ion-icon>
			</div>
			<div class="text_box">
				<h2>{{'server' | translate}}</h2>
				<h3>{{'link_server' | translate}}</h3>
			</div>
		</ion-item>
		<ion-item class="animate__animated animate__fadeInUp" (click)="user()">
			<div class="icon_box" slot="start">
				<ion-icon name="person-outline"></ion-icon>
			</div>
			<div class="text_box">
				<h2>{{'user' | translate}}</h2>
				<h3>{{'user_profile' | translate}}</h3>
			</div>
		</ion-item>	
	</ion-list>
</ion-content>
